.List {
    overflow-y: auto;
}

.List::-webkit-scrollbar {
    background-color: var(--button-color);
    border-radius: 4px;
    width: 10px;
}

.List::-webkit-scrollbar-thumb{
    background-color: var(--button-focus-shadow-color);
    border-radius: 4px;
}

.List > *:not(:first-child) {
    margin-top: 10px;
}