html[data-theme='light'] {
    --panel-background-color: #f4f4f4;
    --panel-border-color: #c3c3c3;
    --panel-icon-color: #1f1f1f;
    --panel-icon-unactive-color: #5a5a5a;

    --main-background-color: #ffffff;

    --text-color: #292929;
    --text-unactive-color: #545454;

    --button-color: rgb(228, 228, 228);
    --button-hover-color: rgb(170, 170, 170);
    --button-focus-shadow-color: rgb(115, 115, 115);

    --table-cell-color: #f4f4f4;

    --style-color: blue;

    --titlebar-icon-color: #1e1e1e;
    --titlebar-icon-hover-background-color: #d7d7d7;
    --titlebar-icon-quit-hover-background-color: rgb(181, 0, 0);
}