.TableWrapper {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
    width: calc(100% - 50px);
}

.TableWrapper::-webkit-scrollbar {
    background-color: var(--button-color);
    border-radius: 4px;
    width: 10px;
    height: 10px;
}

.TableWrapper::-webkit-scrollbar-thumb{
    background-color: var(--button-focus-shadow-color);
    border-radius: 4px;
}

.TableWrapper::-webkit-scrollbar-corner {
    background-color: var(--button-color);
}

.Table {
    display: flex;
    flex-direction: column;
    width: fit-content;
}